{% extends "base.html" %}
{% block content %}

<h1>Recover Your Password</h1>

<div id="div_error">
	<span id="span_error_message" class="error white-space-pre">Sample error message</span>
</div> 

<p>Forgot your password? Enter your username and we'll send a link to reset your password.</p>
<label for="txt_username">Username:</label>
<input type="text" id="txt_username"/>
<input class="btn_big" type="button" id="btn_reset" onclick="javascript:reset_password()" value="Reset Password" />
<div>
	<span id="span_status_message"></span>
</div>

{% endblock %}