{% extends "base.html" %}
{% block content %}
	<h1>Welcome to the Weekly Pick &apos;Em</h1>
	{% if participant_list|length > 0 %}
		<h2>Choose a Pool:</h2>
		<table class="big_table" id="tbl_events" style="border='0px'">	
			<tbody>
			{% for participant in participant_list %}
				<tr>
					<td>
						<a href="/main/{{ participant.key.urlsafe() }}">
						{{ participant.display_name }} - {{ participant.get_contest().display_name }}
						</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h2>You aren't currently in any pools.</h2>
	{% endif %}
{% endblock %}
