{% extends "base.html" %}
{% block additional_scripts %}
<script type="text/javascript" src="/media/js/setpassword.js"></script>
{% endblock %}
{% block content %}
<h1>Update Password</h1>

<div id="div_error">
	<span id="span_error_message" class="error white-space-pre">Sample error message</span>
</div>

<table>
	<tbody>
		<tr><td><label for="password">New Password</label></td><td><input type="password" id="txt_password" /></td></tr>
		<tr><td><label for="confirm_password">Confirm Password</label></td><td><input type="password" id="txt_confirm_password" /></td></tr>
	</tbody>
</table>
<input onclick="javascript:update_password()" type="button" id="btn_update_password" value="Update Password" />
<div>
	<span id="span_status_message"></span>
</div>
{% endblock %}
